body {
	background-image: url("images/catbackground.png");
}

h1 {
	display: block;
	font-size: 4em;
	font-family: Arial; sans-serif;
	font-weight: bold;
	text-align: center;
}

h2 {
	display: block;
	font-size: 2em;
	font-family: Arial; sans-serif;
	text-align: center;
}

fieldset {
	background-color: #C6E2FF;
	text-align: center;
	margin-left: 20em;
	margin-right: 20em;
}

label {
	font-family: Arial; sans-serif;
}

legend {
	font-family: Arial; sans-serif;
}

img {
	display: block;
	margin: auto;
}
