body {
	background-image: url("images/catbackground.png");
}

h1 {
	display: block;
	font-size: 4em;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
}

h2 {
	display: block;
	font-size: 2em;
	font-family: Arial;
	text-align: center;
}

fieldset {
	background-color: #C6E2FF;
	text-align: center;
	margin-left: 10em;
	margin-right: 10em;
}

label {
	font-family: Arial;
}

legend {
	font-family: Arial;
}

img {
	display: block;
	margin: auto;
	height: 50%;
	width: 50%;
}
